venv
.vscode

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

*.sqlite3

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

web
scraping/img
_pokemon
secretkey.txt